<body>
<div id="header" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="100" height="100" alt="Droplet Logo" src="../assets/droplet.png">
</div>
<br>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/stressed.png" alt="Water Stress" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>By 2025, an estimated 1.8 billion people will live in areas plagued by water scarcity, with two-thirds of
            the world’s population living in water-stressed regions.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/demand.png" alt="Water Demand" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <p>Water demand is projected to grow by 55 percent by 2050 (including a 400-percent rise in manufacturing water demand).</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/requirements.png" alt="Water Requirement" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>According to the U.S. Intelligence Community Assessment of Global Water Security, by 2030 humanity’s “annual global water requirements” will exceed “current sustainable water supplies” by 40%.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/scarcity.png" alt="Water Thirst" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>By the year 2040 there will not be enough water in the world to quench the thirst of the world population and keep the current energy and power solutions going if we continue doing what we are doing today.</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/shortage.png" alt="Water Shortages" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>By 2050, 1 in 5 developing countries will face water shortages (UN’s Food and Agriculture Organization).</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="../assets/overpopulation.png" alt="Population" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>Over the past 40 years the world’s population has doubled and use of water has quadrupled.</p>
        </div>
      </div>
    </div>
  </div>

  <div>
  </div>

  <div class="row">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
            <h2>True or False</h2>
            <p>Water is an unlimited resource.</p>
          </div>
          <div class="flip-card-back">
            <h2>FALSE.</h2>
            <p>In fact, only 2.5% of the world's water is freshwater.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
              <h2>True or False</h2>
              <p>The US is immune from water shortages.</p>
            </div>
            <div class="flip-card-back">
              <h2>FALSE.</h2>
              <p>The U.S. is not immune to water shortages and we can no longer expect an endless supply of inexpensive water in this country.</p>
            </div>
          </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
                <h2>True or False</h2>
                <p>There is not much I can do to make a difference.</p>
              </div>
              <div class="flip-card-back">
                <h2>FALSE.</h2>
                <p>Conserving water and using it more efficiently is something all of us—at home, in the office, or at school—must do. </p>
              </div>
            </div>
          </div>
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
                  <h2>True or False</h2>
                  <p>Water comprises the majority of the human body.</p>
                </div>
                <div class="flip-card-back">
                  <h2>True.</h2>
                  <li>Brain/Heart: 75% water.</li>
                  <li>Lungs: Over 80% water.</li>
                  <li>Muscles/Kidneys: 80% water.</li>
                  <li>Bones: 30% water.</li>
                </div>
              </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
                    <h2>True or False</h2>
                    <p>Everyone has immediate access to water in the world today.</p>
                  </div>
                  <div class="flip-card-back">
                    <h2>FALSE.</h2>
                    <p>40% of sub-Saharan Africa is without access to clean water.</p>
                  </div>
                </div>
              </div>
              <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="../assets/questionmark.png" alt="" height="100px" width="100px">
                      <h2>True or False</h2>
                      <p>It would cost too much to provide safe water and sanitation.</p>
                    </div>
                    <div class="flip-card-back">
                      <h2>FALSE.</h2>
                      <p>For every $1 invested, a yield of $5 to $28 USD is returned in increased economic activity and reduced health care costs.</p>
                    </div>
                  </div>
                </div>
    </div>

    <div class="nextsteps">
      <h1>Get Involved</h1>
      <ul>
      <li><h5><a href="https://www.wateraccessnow.org/">Water Access Now</a></h5></li>
      <li><h5><a href="https://generosity.org/">Generosity.org</a></h5></li>
      <li><h5><a href="https://www.purewaterfortheworld.org/">Pure Water for the World</a></h5></li>
    </ul>
    </div>

    <!-- 4:3 aspect ratio -->
<div class="embed-responsive embed-responsive-4by3">
    <iframe width="360" height="215" src="https://www.youtube.com/embed/4URapRHxsmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</body>
<router-outlet></router-outlet>
