<!--The content below is only a placeholder and can be replaced.-->
<div id="header" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="100" height="100" alt="Droplet Logo" src="../assets/droplet.png">
</div>

<body>
  <div class="row">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <p>By 2025, an estimated 1.8 billion people will live in areas plagued by water scarcity, with two-thirds of the world’s population living in water-stressed regions.</p>
          </div>
        </div>
      </div>
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1> 
              <p>Architect & Engineer</p> 
              <p>We love that guy</p>
            </div>
          </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>John Doe</h1> 
                  <p>Architect & Engineer</p> 
                  <p>We love that guy</p>
                </div>
              </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../assets/scarcity.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
    </div>
</body>
<router-outlet></router-outlet>
